<div class="container-fluid">
  <div class=" circle">
    <div></div>
    <div class="d-flex flex-row justify-content-between p-3">
      <div style="width: 40%;">
        <img src="./assets/logo.png">
      </div>
      <div class="d-flex flex-row mt-5 justify-content-around" style="width: 60%;">
        <div class="menu-item mr-2">
          Products
        </div>
        <div class="menu-item mr-2">
          Solutions
        </div>
        <div class="menu-item mr-2">
          Pricing
        </div>
        <div class="menu-item-login mr-2">
          Login
        </div>
        <div class="menu-item-start">
          Get Started
        </div>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-between p-3">
      <div class="d-flex flex-column">
        <div class="moto">
        </div>
        <div class="moto-line">
        </div>
        <div class="mt-5 collect-img acnt-dots">
        </div>
      </div>
      <div class="d-flex">
        <div class="card" style="width: 330px; border-radius: 1.25rem !important;">
          <div class="card-header" style="text-align: center;">Eligibility Calculator</div>
          <div class="card-body">
            <form>
              <div class="d-flex flex-column">
                <label for="customRange">Monthly Income</label>
                <input type="range" class="form-control-range">
              </div>
              <div class="d-flex flex-column">
                <label for="customRange">Monthly Expense</label>
                <input type="range" class="form-control-range">
              </div>
              <div class="d-flex flex-column">
                <label for="customRange">Repayment Tenure</label>
                <select name="cars" class="custom-select">
                  <option selected value=1>6 Months</option>
                  <option value=12>12 Months</option>
                  <option value=24>24 Months</option>
                  <option value=36>36 Year</option>
                </select>
              </div>
              <div class="d-flex mt-2 custom-control custom-switch" style="align-content: left;">
                <!-- <label>Do you have any existing loans?</label> -->
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="switch1">
                  <label class="custom-control-label" for="switch1">Do you have any existing loans?</label>
                </div>
              </div>
              <div class="d-flex flex-column">
                <label for="emi">EMI of Existing Loan (optional)</label>
                <input type="text" class="form-control" id="emi">
              </div>
            </form>
          </div>
        </div>
        <div class="card"
          style="width: 164px; border-radius: 0rem 1.25rem 1.25rem 0rem !important; background-color: blueviolet;margin-top: 23%; height: 61%;">
          <div class="card-body">
            <br>
            <br>
            <div class="d-flex flex-column" style="color: #cdc3c3;">
              Loan Amount
            </div>
            <div class="d-flex flex-column" style="color: #ffffff;font-size: 22px;  ">
              1,00,000
            </div>
            <div class="d-flex flex-column" style="color: #cdc3c3;">
              Your EMI will be
            </div>
            <div class="d-flex flex-column" style="color: #ffffff;font-size: 22px;">
              15,000
            </div>
            <div class="mt-4 get-money d-flex flex-column">
              GET MONEY
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="sol-wave">
    <div class="d-flex flex-row">
      <div class="d-flex">
        <div class="ml-5 d-flex flex-column justify-content-around">
          <div class="card" style="width: 231px; border-radius: 1.25rem !important; box-shadow: 0px 0px 30px #2321321F;
        border: 1px solid #FFFFFF; border-radius: 20px; opacity: 1;">
            <div class="card-body">
              <div>
                <img src="../assets/Get Paid Instantly.png">
              </div>
              <div style="font-weight: bold; font-size: 15px;">
                Quick cash disbursement
              </div>
              <div style="color: #767474;">
                Get terms loans that your business needs within 72 hrs
              </div>
            </div>
          </div>
          <div class="card mt-4" style="width: 231px; border-radius: 1.25rem !important; box-shadow: 0px 0px 30px #2321321F;
          border: 1px solid #FFFFFF; border-radius: 20px; opacity: 1;">
            <div class="card-body">
              <div>
                <img src="../assets/Low interest rate.png">
              </div>
              <div style="font-weight: bold; font-size: 15px;">
                Low-interest rate
              </div>
              <div style="color: #767474;">
                Achieve your financial goals with an amazing interest rate starting at 13% per annum
              </div>
            </div>
          </div>
          <div class="card mt-4" style="width: 231px; border-radius: 1.25rem !important; box-shadow: 0px 0px 30px #2321321F;
          border: 1px solid #FFFFFF; border-radius: 20px; opacity: 1;">
            <div class="card-body">
              <div>
                <img src="../assets/Secure Payments.png">
              </div>
              <div style="font-weight: bold; font-size: 15px;">
                Zero Paperwork
              </div>
              <div style="color: #767474;">
                Get started instantly by submitting only your basic details & bank statements
              </div>
            </div>
          </div>
        </div>
        <div class="ml-5 mt-4 d-flex flex-column justify-content-around">
          <div class="card" style="width: 231px; border-radius: 1.25rem !important; box-shadow: 0px 0px 30px #2321321F;
        border: 1px solid #FFFFFF; border-radius: 20px; opacity: 1; background-color: #c957de; color: #ffffff;">
            <div class="card-body">
              <div>
                <img src="../assets/freelancer_feature_icon_6@1.5x.png">
              </div>
              <div style="font-weight: bold; font-size: 15px;">
                Ace your business finances
              </div>
              <div>
                Manage banking, accounting & everything in between, on one platform
              </div>
            </div>
          </div>
          <div class="card" style="width: 231px; border-radius: 1.25rem !important; box-shadow: 0px 0px 30px #2321321F;
          border: 1px solid #FFFFFF; border-radius: 20px; opacity: 1;">
            <div class="card-body">
              <div>
                <img src="../assets/Covid.png">
              </div>
              <div style="font-weight: bold; font-size: 15px;">
                Loans to fight COVID-19
              </div>
              <div style="color: #767474;">
                Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh
              </div>
            </div>
          </div>
        </div>

        <div class="ml-5 mt-4 d-flex flex-column justify-content-center">
          <h1 style="font-weight: bold;">
            Boost You Business with Open
          </h1>
          <div class="mt-5 moto-line">
          </div>
          <div class="mt-5" style="color: #767474;">
            Get your hands on a term loan that’s crafted for your business
          </div>
          <div class="mt-5 open-acnt">
            Get an Open Account
          </div>

        </div>







      </div>


    </div>
  </div>
</div>